@font-face {
	font-family: JMH Arkham;
	src: url(fonts/JMH Arkham.ttf);
}

#translate {
	text-decoration: none
}
#upper {
	height: auto; 
    width: auto; 
    overflow: auto;
    float: left;
    padding-left: 15px;
	background-color: rgba(255,235,205,0.3);
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	color: lavenderblush;
	font-size: 25px;
}
#lang {
	background-color: darkslategrey;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: khaki;
	border-color: darkslategrey;
}
#pName {
	font-family: JMH Arkham;
	font-size: 60px;	
}
#headerBox p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: khaki;
	text-align: center;
}
#crewList {
	width:auto;
	height:auto;
	float:right;
	background-color: rgba(255,235,205,0.3);
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;*/
}
#crewList h1 {
    padding: 10px;
    text-align: center;
}
#crewList p {
	color: khaki;
	text-align: left;
	padding: 10px;
	overflow: auto;
}
#crewList p:hover {
	color: goldenrod;
}
#lang:hover {
	color: goldenrod;
}
#callBox {
	font-family: JMH Arkham;
	float: left 20px;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
#callBox thead {	
	font-size: 50px;
	color: khaki;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;

}
.rem {
	margin-left: 5px;
	background-color: rgba(255,228,196,0.6);
	color: indianred;
	font-family: JMH Arkham;
	font-size: 20px;
	border: none;
	cursor: pointer;	
}
.headerButtons {
	background: darkslategrey;
	border-color: darkslategrey;
	border: none;
    font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: khaki;
	text-decoration: none; 	
}
.headerButtonsActive  {
	background: darkslategrey;
	border-color: darkslategrey;
	border: none;
    font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: goldenrod;
	text-decoration: none; 	
}
.headerButtons:hover {
	color: goldenrod;
}
.footerLink {
	background: darkslategrey;
	border-color: darkslategrey;
	border: none;
    font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: khaki;
	text-decoration: none; 	
}
.footerLink:hover {
	color: goldenrod;
}
.calCell {
	background-color: rgba(255,228,196,0.1);
	font-family: JMH Arkham;
	font-size: 50px;
	color: khaki;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	width: 70px;
	height: 70px;
	border-color: rgba(176,196,222,0.2);
}
.calCell:hover {
	color: goldenrod;
}
.calCellDis {
	background-color: rgba(255,228,196,0.1);
	font-family: JMH Arkham;
	font-size: 50px;
	color: silver;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	width: 70px;
	height: 70px;
	border-color: rgba(176,196,222,0.2);
}
* {
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
}
header {
	overflow: hidden;
    background:darkslategrey;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    text-align: center;
}
body {
	background-image: url(images/bodyImg.jpg);
 	background-size: cover;
}
footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	color: khaki;
	background: darkslategrey;
}
h1 {
	font-size: 45px;
	height: auto;
    width: auto; 
    padding-left: 15px; 
    padding-top: 25px;
	color: goldenrod;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
p {
	color: lavenderblush;
	font-size: 25px;
}
ul li {
	color: lavenderblush;
	font-size: 25px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
.imgcontainer img {
	size: 400px 400px
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
