/*
imgGalery START
*/
* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
/* Position the image container (needed to position the left and right arrows) */
.slideImgContainer {
  position: relative;
  width: 78%;
  top: 0px;
  margin: auto;
  padding: 0;
  background-color: rgba(47,79,79,0.7);
}

/* Hide the images by default */
.imgSlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.imgSlidesPrev,
.imgSlidesNext {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: khaki;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(47,79,79,0.4);
}

/* Position the "next button" to the right */
.imgSlidesNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.imgSlidesPrev:hover,
.imgSlidesNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: goldenrod;
}

/* Number text (1/3 etc) */
.numbertext {
  color: khaki;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
/*  background-color: rgba(47,79,79,0.7);*/
  color: khaki;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}